@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Dosis);
* {
	margin: 0;
}
iframe {
	border: none;
}
html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif !important;
}
h1, h2, h3, h4, h5, h6, p, div, a, p {
	font-family: 'Roboto', sans-serif;
}
a, .panel-title>a, a:focus, .panel-title>a:focus{
	color: #8F9292;
	text-decoration: none;
}
a:hover, .panel-title>a:hover{
	text-decoration: none;
	color: black;
}
.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -42px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 42px; 
}
 .images_petit {
width:80px;
height:80px;
} 
#formulaire {
    text-align: right;
}
#Zamapng {
    text-align: left;
}
#frmUser {
	float: right;
}
#header {
	margin-bottom: 62px;
}
#nav-bar-container {
	margin-top: 25px;
}
#nav-bar, #nav-button-panel {
	float: none;
	display: table-cell;
	vertical-align: bottom;
}
#nav-bar {
	color: #298eea;
	font-size: 25px;
}

#nav-import-btn {
	margin-top: 6px;
}
.nav-bar-item {
	display: inline-block;
	margin-right: 30px;
}

.nav-bar-item a, .panel-title {
	color: #298eea;
	font-family: 'Dosis', sans-serif;
	font-size: 25px;
}
.nav-bar-item a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #298eea;
}

.bluefont{
	font-family: 'Roboto', sans-serif;
	color: #298eea;
	
}
.hidden {
	display:none;
}
.panel-default>.panel-heading {
	background-color: inherit;
	border-color: black;
}
.badge, .panel-default>.panel-heading .badge {
	vertical-align: super;
	color: #CA7081;
	background: white;
	border: 1px #CC98A2 solid;
	padding: 5px 14px;
}
.panel-default>.panel-heading:hover {
	background: rgba(202, 171, 171, 0.24);
}
blink, .blink {
  -webkit-animation: blink 0.7s step-end infinite;
  -moz-animation: blink 0.7s step-end infinite;
  -o-animation: blink 0.7s step-end infinite;
  animation: blink 0.7s step-end infinite;
}

@-webkit-keyframes blink {
  67% { opacity: 0 }
}

@-moz-keyframes blink {
  67% { opacity: 0 }
}

@-o-keyframes blink {
  67% { opacity: 0 }
}

@keyframes blink {
  67% { opacity: 0 }
}